body {
  margin: 0;
  background: #c0c0c0;
  font-family: Consolas, monospace;
}

.bios {
  width: 100%;
  height: 100vh;
  background: #c0c0c0;
  display: flex;
  flex-direction: column;
}

/* TITLE */
.title-bar {
  background: #02abab;
  color: black;
  padding: 6px 12px;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

/* MENU BAR */
.menu-bar {
  background: #003399;
  padding: 7px 20px;
  color: #c0c0c0;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  margin-right: 20px;
  padding: 2px 6px;
}

.menu.active {
  background: #c0c0c0;
  color: #003399;
}

/* MAIN AREA */

.main-area {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 320px; /* kiri konten, kanan help */
  padding: 10px;
  box-sizing: border-box;
  gap: 20px;
}


.main-grid {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

  background: #c0c0c0;
  border: 2px solid black;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5px;
  margin: 10px;
}



/*data diri*/
.person {
  background: #c0c0c0;
  padding: 5px;
}

.person pre {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  color: #003399;
  padding: 5px;
  font-weight: bold;
  
  white-space: pre-wrap;   /* BOLEH turun baris */
  word-break: break-word; /* BOLEH motong kata panjang */
}


/*help area*/
.help {
  margin: 10px;
  padding: 10px;
  background: #c0c0c0;
  border: 2px solid black;
  box-sizing: border-box;
}


.help-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.help-text {
  margin: 0;
  font-size: 17px;
  line-height: 1.7;
}


.footer {
  background: #008080;
  color: white;
  padding: 5px 30px;
  font-size: 20px;
  font-weight: bold;
}

.footer .key {
  padding: 1px 6px;
  margin: 3px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
